*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(27,27,35);
    overflow-x: hidden;

}

.header{
    height: 90vh;
    position: relative;
}
.navbar{
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}
.navbar-box{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:white;
}
.heading-tertiary{
    font-size: 3.5rem;
}
.navbar-list{
    list-style: none;
    font-size: 2rem;
}
.navbar-items{
    display: inline-flex;
}
.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color:white;
    padding: 3rem;
    transition: all .2s ease;
}
.navbar-link:hover{
    background-color:rgb(202, 123, 109);;
    color:white;
}
.navbar-link-shops:visited,
.navbar-link-shops:link{
    text-decoration:none;
    color:white;
    padding: 2rem 3.5rem;
    border: 1px solid rgb(109, 67, 60);;
    border-radius: 200px;
    box-shadow:0 0 1rem seagreen;
    text-shadow: 0 .3rem 1rem rgba(255,255,255, .5);
    transition: all .4 ease;
}
.navbar-link-shops:hover{
    background-color:rgb(202, 123, 109);
    color:white;
}
.toggle{
    height: 5rem;
    width: 5rem;
    display:none;
}
.toggle div{
    height: 4px;
    width: 100%;
    background-color: beige;
    margin: 1rem;
}
.header-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    color:white;
}
.video{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .2);
    position: absolute;
    bottom: 10;
    right: 0;
}
#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.header-box{
    position: relative;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color:white;
}
.heading-primary{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 2px;
}
#restuarant{
    color: tomato;
    font-weight: 800;
    font-size: 4rem;
}
.lead{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}
#kebab-center{
    color: tomato;
    font-size: 2rem;
    font-weight: 800;
}
.see-shops:visited,
.see-shops:link{
    text-decoration: none;
    display: inline-block;
    color:white;
    font-size: 3rem;
    padding: 2rem;
    margin-top: 3rem;
    border: 1px solid White;
    border-radius: 80%;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem rgba(240, 108, 55, 0.1);
    text-shadow: 0 1rem 1rem rgb(27,27,35);
}
.see-shops:hover{
    background-color:rgb(202, 123, 109);
    border: 1px solid white;
    box-shadow: 0 0 2rem rgba(240, 108, 55, 0.8)
}

/* MENU */
.menu{
    width: 100%;
    padding: 10rem 5rem;
    background-image: linear-gradient(to right bottom, rgb(255, 81, 0), rgba(255,0,0, 0.5));
}
.menu-heading{
    font-size: 12rem;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0,0,0, .8);
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}
.menu-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 2rem;
}
.heading-secondary{
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.menu-img{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position:left;
}

.img1{
    background-image: url("img/kebab-bulka.jpg.jpg");
}
.img2{
    background-image: url("img/rollo-kebab.jpg");
}
.img3{
    background-image: url("img/kebab talesz.jpg");
}
.img4{
    background-image: url("img/mega talesz.jpg");
}
.menu-container{
    width: 100%;
    height: 50rem;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    box-shadow:0 0 2rem rgba(0,0,0, .2);
    transition: all .4s ease;
}
.menu-container:hover{
    box-shadow: 0 0 5rem rgba(0,0,0, .4);
    transform: scale(1.07);
}
.menu-p{
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
}
.menu-title{
    font-size: 3rem;
    text-align: center;
}

.price{
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: rgb(202, 123, 109);
    text-shadow: 0 .4rem 2rem rgba(0,0,0, .4);
}

/* CONTACT */

.contact{
    padding: 15rem 10rem;
    width: 100%;
    background-image: url("img/360_F_395543190_lj77JKopQBbIVCk2IYuojew5CXkrE5hp.jpg");
    background-size: cover;
}
.contact-content{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 3rem rgba(0,0,0, .9);
}
.left{
    background-color: rgba(7, 94, 207, 0.795);
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.right{
    background-color: white;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;

}
.right-img{
    height: 22rem;
    width: 22rem;
    position:relative;
    top: -15rem;
    left: -8rem;
    border-radius: 60%;
}
.contact-form{
    padding: 5rem;
    width: 100%;
}
.form{
    width: 100%;
    text-align: center;
    padding: 3rem 0;
}
.form-group{
    position: relative;
    padding: 2rem;
    width: 100%;
}
.contact-heading{
    font-size: 6rem;
    color:rgb(202, 123, 109);
}
.contact-btn:link,
.contact-btn:visited{
    text-decoration: none;
    display: inline-block;
    border: 1px solix rgb(202, 123, 109);
    background-color: transparent;
    color:rgb(202, 123, 109);
    font-size: 3.4rem;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0, .4);
    transition: all .4s ease;
}
.contact-btn:hover{
    background-color:rgba(0,0,0, .8);
    box-shadow: 0 .3rem 1rem rgba(255,255,255, .8);
    color:seashell;
}
.input{
    width: 98%;
    outline: none;
    border: 10px solid seashell;
    background-color: azure;
    height: 7rem;
    font-size: 2rem;
    border-radius: 1000px;
    text-indent: 5px;
    box-shadow: 0 0 1rem rgba(0,0,0, .4);
    padding: 1rem;
    transition: all .4s ease;
}
.input:focus{
    width: 100%;
}
.input:valid{
    border-left: 20px solid green;
}
.input:invalid{
    border-left: 20px solid red;
}
.textarea{
    resize:none;
    height: 15rem;
    border-radius: 40px;
    padding: 2rem;
}

.form-group label{
    position: absolute;
    top: 46px;
    left: 61px;
    font-size: 1.4rem;
    background-color: aliceblue;
    visibility: hidden;
    transition: top .4s ease, left .4s ease;
}
.input:focus ~ label{
    top: 11px;
    left: 61px;
    padding: 0 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0, .4);
    visibility: visible;
    border-radius: 10px;
}
.input:focus::placeholder{
    color: transparent;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.maps-title{
    font-size: 5rem;
    color: white;
    text-align: center;
}
.review{
    padding: 15rem;
    width: 100%;
    background-color: rgb(202, 123, 109);
}
.review-heading{
    color: white;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
}
.review-content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.review1{
    display: flex;
    position: relative;
    align-items: center;
    color: white;
    padding: 4rem;
    box-shadow: 0 0.3rem 1rem rgba(255,255,255, .5)
}
review1:not(:last-child){
    margin-bottom: 5rem;
}
.review-logo{
    height: 10rem;
    border-radius: 50%;
    background-image: url("img/avatar-366-456318.png");
    background-size: cover;
    min-width: 11rem;
}
.review-info{
    margin-left: 2rem;
    min-width:auto; 
}
.name{
    font-size: 2rem;
    margin: .6rem 0;
}
.review-box{
    font-size: 1.6rem;
    margin-left: 2rem;
}
.review-star .fa{
    color: white;
}
.review-star .checked{
    color: green;
}
/* FOOTER */

.footer{
    background-color: black;
    color: white;
    position: relative;
}

.footer-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(15, 15, 15);
    text-align: center;
    width: 100%;
    padding: 3rem 0;
    font-size: 1.6rem;
}

.footer-content{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: black;
    height: 100%;
    text-transform: uppercase;
}

.footer-title{
    font-size: 2.3rem;
    justify-content: space-around;
    border-bottom: 2px solid white;
    text-align: center;
}

.links{
    margin: 0 auto;
    padding: 5rem 0;
    font-size: 1.8rem;
    width: 80%;
}

.list{
    margin-top: 2rem;
    list-style: none;
    text-align: center;
}



.list-link:visited,
.list-link:link{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

.list-item{
    cursor: pointer;
    transition: all .2s ease;
}

.list-item:hover{
    background-color: #da6b1d;
    transform: scale(1.05) rotate(5deg);
}

.media{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.links .fa{
    padding: 3rem;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin{
    background: #007bb5;
    color: white;
}

.fa-youtube{
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.disclaimer {
    text-transform: initial;
    margin-top: 2rem;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width:1300px){
    .menu-grid{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    .price{
        margin-top: 0;
    }
    .menu .container{
        padding: 0;
    }

    .links .fa{
        padding: 2rem;
        font-size: 20px;
    }
}

@media screen and (max-width:1130px){
    .toggle{
        display: inline-block;
    }
    .navbar-list{
        position: absolute;
        top: 110px;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 85vh;
        width: 50%;
        transform: translateX(100%);
        background-color: black;
        transition: all .4s ease-in-out;
    }

    .navbar-item{
        width: 100%;
        text-align: center;
    }

    .right-img{
        display: none;
    }

    .contact-form{
        padding: 0;
    }


}

.nav-active{
    transform: translateX(0);
}

@media screen and (max-width:1000px){
    .menu-grid{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-content{
        flex-direction: column-reverse;
    }

    .left{
        height: 100vh;
        border-radius: 0;
    }

    .right{
        border-radius: 0;
    }

    .review1{
        flex-direction: column;
        text-align: center;
    }

    .review1 > *{
        margin-left: 0;
    }

}

@media screen and (max-width:800px){
    .footer-content{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .review{
        padding: 6rem;
    }
}

@media screen and (max-width:600px){
    .menu-grid{
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
    }

    .price{
        margin-top: 5rem;
    }

    .heading-primary{
        font-size: 5rem;
    }

    #restaurant{
        font-size: 6rem;
    }
    .lead{
        font-size: 1.6rem;
    }

    .review1{
        padding: 3rem .5rem;
    }

    .review-heading{
        font-size: 3rem;
    }

    .contact{
        padding: 0;
    }

}

@media screen and (max-width:450px){
    #restaurant{
        font-size: 4rem;
    }


    .heading-primary{
        font-size: 3rem;
    }

    .review{
        padding: 6rem 2rem;
    }

    .price{
        margin-top: 2rem;
    }

    .heading-tertiary{
        font-size: 2.5rem;
    }

}

@media screen and (max-width:400px){
    .menu{
        padding: 10rem 1rem;
    }

    .lead{
        font-size: 1.4rem;
    }

    .review-box{
        font-size: 1.3rem;
    }

    .menu-heading{
        font-size: 7rem;
    }
}
